VITE_SUPABASE_URL=https://wylcbblegcyzunychqqa.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind5bGNiYmxlZ2N5enVueWNocXFhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODUwNTA0OTgsImV4cCI6MjEwMDYyNjQ5OH0.dkFbE5steNuvDJtor-DSAyWHaTHjSMk0Uwa6RXasaFg
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_DP56-TYWMUcKiJh_Pl_JxQ_JtgqeYuV

SUPABASE_URL=https://wylcbblegcyzunychqqa.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind5bGNiYmxlZ2N5enVueWNocXFhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODUwNTA0OTgsImV4cCI6MjEwMDYyNjQ5OH0.dkFbE5steNuvDJtor-DSAyWHaTHjSMk0Uwa6RXasaFg
SUPABASE_PUBLISHABLE_KEY=sb_publishable_DP56-TYWMUcKiJh_Pl_JxQ_JtgqeYuV
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind5bGNiYmxlZ2N5enVueWNocXFhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NTA1MDQ5OCwiZXhwIjoyMTAwNjI2NDk4fQ.iBHks-KtL5UjXjD3aaGfPjmzOWOVCGA1JXaaAojt4gE

CASHFREE_APP_ID=1348337cd58fd2946007d114ebb7338431
CASHFREE_SECRET_KEY=cfsk_ma_prod_c0607dab370ee9b4fbd58e8777883cce_36d411fa
CASHFREE_MODE=production
VITE_CASHFREE_MODE=production

EMAILJS_PUBLIC_KEY=yMInTQ6igoNvRwpNk
VITE_EMAILJS_PUBLIC_KEY=yMInTQ6igoNvRwpNk
EMAILJS_PRIVATE_KEY=OYOXv27MB1DgFVE53imjc

GOOGLE_CLIENT_ID=188905543783-v3b535ku8mvs3pdavt5tfviv9tsqer4h.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
